<ion-header class="header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        License
      </ion-title>
      <app-header-buttons  slot="secondary"></app-header-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content force-overscroll class="ion-padding">
      <ion-row class="list-box">
        <ion-col class="ion-padding">
         
          <h1 style="margin-top:0">License information</h1>
          <!-- ENTRY -->
            <h2>Stockfish (GPLv3)</h2>
            <p>License note: Stockfish is used as &quot;software as a service&quot; in this project</p>
            <p>Stockfish is free, and distributed under the <strong>GNU General Public License</strong>
          (GPL). Essentially, this means that you are free to do almost exactly
          what you want with the program, including distributing it among your
          friends, making it available for download from your web site, selling
          it (either by itself or as part of some bigger software package), or
          using it as the starting point for a software project of your own.</p>
          <p>The only real limitation is that whenever you distribute Stockfish in
          some way, you must always include the full source code, or a pointer
          to where the source code can be found. If you make any changes to the
          source code, these changes must also be made available under the GPL.</p>
            <p>The Stockfish source code/project website is available under: http://stockfishchess.org/</p>

          <!-- ENTRY -->
            <h2>chess.js (BSD License)</h2>
            <p>Copyright (c) 2015, Jeff Hlywa (jhlywa@gmail.com)<br/>All rights reserved.</p>
          <p>Redistribution and use in source and binary forms, with or withoutmodification, are permitted provided that the following conditions are met:</p>
          <ol>
          <li>Redistributions of source code must retain the above copyright notice,this list of conditions and the following disclaimer.</li>
          <li>Redistributions in binary form must reproduce the above copyright notice,this list of conditions and the following disclaimer in the documentationand/or other materials provided with the distribution.</li>
          </ol>
          <p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THEIMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSEARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BELIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, ORCONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OFSUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESSINTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER INCONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THEPOSSIBILITY OF SUCH DAMAGE.</p>
            
          <!-- ENTRY -->
            <h2>chessboardjs (MIT)</h2>
            <p>Copyright 2013 Chris Oakman</p>
            <p>Released under the MIT license</p>
          <p>Permission is hereby granted, free of charge, to any person obtaining
          a copy of this software and associated documentation files (the
          "Software"), to deal in the Software without restriction, including
          without limitation the rights to use, copy, modify, merge, publish,
          distribute, sublicense, and/or sell copies of the Software, and to
          permit persons to whom the Software is furnished to do so, subject to
          the following conditions:</p>

          <p>The above copyright notice and this permission notice shall be
          included in all copies or substantial portions of the Software.</p>

          <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
          EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
          MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
          NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
          LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
          OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
          WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>

          <!-- ENTRY -->
          <h2>Cordova Purchase Plugin (MIT)</h2>
          <p>The MIT License</p>
          <p>Copyright (c) 2014, Jean-Christophe Hoelt and contributors</p>
          <p>Permission is hereby granted, free of charge, to any person obtaining a copy
          of this software and associated documentation files (the "Software"), to deal
          in the Software without restriction, including without limitation the rights
          to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
          copies of the Software, and to permit persons to whom the Software is
          furnished to do so, subject to the following conditions:</p>
          <p>The above copyright notice and this permission notice shall be included in
          all copies or substantial portions of the Software.</p>
          <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
          IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
          FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
          AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
          LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
          OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
          THE SOFTWARE.</p>

        </ion-col>
      </ion-row>
  </ion-content>