.list-box{
    background: rgba($color: #fff, $alpha: 0.7);
    background:rgba(255, 255, 255, 0.7);
    height: calc( 100% - 90px );
    overflow: auto;
    margin-bottom: 10px;

    ion-button{
        width: 100%;
        background: #67829F;
        text-transform: capitalize;
        font-size: 12px;
    }

}

.bottom-button{
    ion-button {
        img {
            width: 15px;
            margin-right: 2px;
        }

        font-size: 9px;
    }
}
