<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Imprint
    </ion-title>
    <app-header-buttons  slot="secondary"></app-header-buttons>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll class="ion-padding">
    <ion-row class="list-box">
      <ion-col class="ion-padding">
        <img width="150px" src="../../../assets/images/chessimo_logo.png" />
        <p>
          All rights reserved
          <br><br/>
          8 x 8 Media AG<br/>
          Zimmergasse 8<br/>
          8008 Zurich<br/>
          Switzerland
        </p>
      </ion-col>
    </ion-row>
</ion-content>