.list-box{
    background: rgba($color: #fff, $alpha: 0.7);
    height: 100%;
    overflow: auto;
    color: #000;
    font-size: 12px;
    ion-col {
        text-align: center;
        p {
            text-align: left;
        }
    }
}