<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll class="ion-padding">
  
  <ion-row class="form-box">
    <ion-col>
      <h1>Profile</h1>
      <div class="input-group">
        <input placeholder="Name" [(ngModel)]="userService.name"  (change)="userConnectService.saveField('username', userService.name)" />
        <input placeholder="E-Mail" [(ngModel)]="userService.email" (ionChange)="userService.save()" readonly/>
      </div>
      <a href="http://www.chessimo.com/r.php?action=profile"><ion-button color="dark">Edit Profile</ion-button></a>
      <ion-button color="dark" (click)="logout()" *ngIf="userService.type == 'user'" >Logout</ion-button>
    </ion-col>
  </ion-row>


</ion-content>
